<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330057627535-iocfr85neftgmlgl302emvig70hrjqji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330057627535-iocfr85neftgmlgl302emvig70hrjqji</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330057627535-thhgl67q9e4snps29tvbi2sh8aqclp8u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCluvw574hDqaryBhu7Gu99r4UH2daDRuM</string>
	<key>GCM_SENDER_ID</key>
	<string>330057627535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elc.clubs</string>
	<key>PROJECT_ID</key>
	<string>clubs-94def</string>
	<key>STORAGE_BUCKET</key>
	<string>clubs-94def.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330057627535:ios:0d79f76bdb813adf65fdfa</string>
</dict>
</plist>